
drone/myenv/

gcs/trans_logs/

drone/trans_logs/

drone/__pycache__/

drone/radio/packet_class/_v4/__pycache__/

gcs/packet_class/_v4/__pycache__/

for testing/__pycache__/

drone/radio/packet_class/__pycache__/

gcs/__pycache__/

gcs/robbenv/

gcs/firebase_credentials.json

gcs/deskapp/__pycache__/

gcs/deskapp/trans_logs/

gcs/deskapp/firebase_credentials.json

gcs/wildfire_data.db
